[build]
  publish = "."

[[edge_functions]]
  function = "sitemap"
  path = "/sitemap.xml"

[[edge_functions]]
  function = "render-bot"
  path = "/sideline/*"

[[edge_functions]]
  function = "ssr-province"
  path = "/location/*"

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "SAMEORIGIN"
    Cache-Control = "public, max-age=0, must-revalidate"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
