[build]
  publish = "."
  command = ""

# --- 1. EDGE FUNCTIONS ---
[[edge_functions]]
  function = "sitemap"
  path = "/sitemap.xml"

[[edge_functions]]
  function = "ssr"
  path = "/"
[[edge_functions]]
  function = "ssr"
  path = "/sideline/*"
[[edge_functions]]
  function = "ssr"
  path = "/province/*"
[[edge_functions]]
  function = "ssr"
  path = "/location/*"

# --- 2. SECURITY & CACHE ---
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosniff"
    Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"

[[headers]]
  for = "/images/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

